* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    font-family: Arial, sans-serif;
    background-image: url("/images/background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player {
    background-color: #FFE34E;
    width: 350px;
    height: 140px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    position: relative;
    margin-right: 2px;
    margin-left: 2px;
}

.player-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    
}

.player-name {
    text-align: center;
    font-size: 15px;
    margin-top: 110px; 
}


.question-container {
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    position: relative; 
}

.question {
    padding: 15px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.option {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
}

.second_container {
    display: flex;
    gap: 100px;
}

.chat {
    display: flex;
    flex-direction: column;
    background-color: #d1c4e9;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    flex: 2;
    height: 200px;
    box-sizing: border-box;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 10px;
}
.chat-box::-webkit-scrollbar {
    display: none; 
}

.chat-message {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-box {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #b39ddb;
    width: 100%;
    box-sizing: border-box;
}


.ranking {
    background-color: #ffcc80;
    padding: 15px;
    border-radius: 20px;
    flex: 1;
}

.ranking h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.ranking-list {
    list-style-type: none;
}

.ranking-list li {
    font-size: 14px;
    margin-bottom: 5px;
}

.leave-room {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

#leave-room-btn {
    background-color: #ffa07a;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

#start-quiz-btn {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px 40px;
    font-size: 1.5rem; 
    background-color: #FFB246;
    color: white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

#start-quiz-btn:hover {
    background-color: #FF9500; 
    transform: translate(-50%, -50%) scale(1.05);
}

#start-quiz-btn:active {
    transform: translate(-50%, -50%) scale(0.95); 
}
