<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" th:href="@{/stylesheets/start.css}" />
</head>
<body>
<div class="container">
    <img class="title-logo" th:src="@{/images/logo.png}" alt="게임 로고" />
    <button class="start-button" id="startButton">Game Start!</button>
</div>
<script th:src="@{/javascripts/start.js}"></script>
</body>
</html>
